<?xml version="1.0" encoding="UTF-8" ?>
<suite name="自动测试报告">
    <test name="测试模块">
        <classes>
            <class name="com.zxb.meetingfilm.testng.demo.ReportTest" />
            <class name="com.zxb.meetingfilm.testng.demo.TestNgDemo" />
        </classes>
    </test>

    <test name="films">
        <classes>
            <class name="com.zxb.meetingfilm.testng.film.FilmsTest" />
        </classes>
    </test>

    <listeners>
        <listener class-name="com.zxb.meetingfilm.testng.conf.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>